<html>
    <head>
        <title>Aula de Django</title>
    </head>
    <body>
        <p>Home</p>
        <p><a href="#">Quem somos</a></p>
        <p><a href="#">Contato</a></p>

        <h1>Titulo do Post 1</h1>
        <h2><a href="#">First Post</a></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt est, et pharetra ipsum. Nullam bibendum ultricies ante ac interdum. Praesent sit amet pretium felis, a volutpat eros.</h4>
        <p>publicado em: 13/04/2019 16:45</p>

        <h2><a href="#">Second Post</a></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt est, et pharetra ipsum. Nullam bibendum ultricies ante ac interdum. Praesent sit amet pretium felis, a volutpat eros.</h4>
        <p>publicado em: 13/04/2019 16:45</p>

        <h2><a href="#">Third Post</a></h2>
        <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce eu tincidunt est, et pharetra ipsum. Nullam bibendum ultricies ante ac interdum. Praesent sit amet pretium felis, a volutpat eros.</h4>
        <p>publicado em: 13/04/2019 16:45</p>

    </body>
</html>